body {
	margin: 0 auto;
	width: 50%;
}

#question_header,
#answer_div {
  width: 100%;
  margin: 0 auto;
}

li {
 //text-decoration: none;
  list-style-type: none;
 //display: inline-block;
}

.direction_back,
.check_answers {
  display: none;
}

.direction_forward {

}